.charity-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.charity-section .title {
  margin-bottom: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  color: #263238;
  font-family: "Montserrat", sans-serif;
}

.charity-section .body {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  color: #546e7a;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

.charity-section .main-row > div {
  display: inline-block;
  width: 30%;
  margin: 2rem auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  position: relative;
  top: 0px;
  transition: 0.2s linear;
  margin-top: 3rem;
  height: 100%;
}

.charity-section .main-row .box2 {
  width: 35%;
  height: 100%;
  margin-top: 1rem;
}

.charity-section .main-row > div img {
  width: 100%;
  border-radius: 4px;
}

.charity-section .char-box h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #546e7a;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}

.charity-section .char-box p {
  text-align: center;
  font-size: 0.9rem;
  color: #546e7a;
  font-weight: 500;
  padding: 0.8rem 1rem;
  margin-bottom: 0rem;
  font-family: "Montserrat", sans-serif;
}

.charity-section .char-box p:nth-child(odd) {
  background-color: #f8f8f8;
}

.box2 h3 {
  text-align: center;
  color: #263238;
  font-size: 2.6rem;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  background-color: #fff !important;
  border-bottom: 1px solid #e9edf2;
  padding-bottom: 40px;
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .charity-section .title {
    font-size: 2rem;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .charity-section .main-row > div {
    width: 85%;
  }
  .charity-section .main-row .box2 {
    width: 90%;
  }

  .charity-section .title {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.6rem;
  }
}

/* Colaboration */
.collab-section {
  padding-top: 3.4rem;
  padding-bottom: 3rem;
  background-color: #ecf0f1;
}

.collab-section .title {
  margin-bottom: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  color: #263238;
  font-family: "Montserrat", sans-serif;
}

.collab-section .body {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;
  color: #546e7a;
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

.collab-section .main-row .collab-box {
  display: inline-block;
  width: 23.2%;
  margin: 2rem auto;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 12px 8px rgb(209, 209, 209);
  position: relative;
  top: 0;
  transition: 0.3s ease-in-out;
}

.collab-section .main-row .collab-box:hover {
  top: -7px;
  box-shadow: 0px 20px 50px 20px rgba(84, 110, 122, 0.15);
}

.collab-section .main-row .collab-box img {
  width: 100%;
  border-radius: 4px;
}

.collab-section .main-row .main-row-text {
  padding: 20px 30px;
}

.collab-section .main-row .main-row-text h2 {
  line-height: 26px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.collab-section .main-row .views {
  color: #999;
  font-size: 0.9rem;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}
/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .collab-section .main-row .collab-box {
    width: 47%;
  }
  .collab-section .title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .collab-section .main-row .collab-box {
    width: 80%;
  }
  .collab-section .title {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.6rem;
  }
}
