.row-about {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.col-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-about h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.row-about p {
  margin-left: 1rem;
  color: rgb(38, 39, 39);
}

.ieee-logo {
  width: 70%;
}

.embs-logo {
  width: 90%;
}

.ieee-tunisia-logo {
  width: 95%;
}

.ieee-insat-logo {
  width: 90%;
}
