.row-about {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.col-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-about h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #263238;
  font-family: "Montserrat", sans-serif;
}

.row-about p {
  margin-left: 1rem;
  font-size: 1rem;
  color: #263238;
  font-family: "Montserrat", sans-serif;
}

.ieee-logo {
  width: 70%;
}

.embs-logo {
  width: 90%;
}

.ieee-tunisia-logo {
  width: 95%;
}

.ieee-insat-logo {
  width: 90%;
}

.sponsor {
  display: flex;
  justify-content: center;
}

.sponsor img {
  display: inline-block;
  box-shadow: 2px 2px 2px 2px rgb(221, 219, 219);
  margin: 0.8rem;
}
