.about-section {
  background-color: #ffffff;
}

.row-about {
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.col-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-about h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #263238;
  font-family: "Montserrat", sans-serif;
}

.row-about p {
  margin-left: 1rem;
  font-size: 1rem;
  color: #263238;
  font-family: "Montserrat", sans-serif;
}

.ieee-logo {
  width: 70%;
}

.embs-logo {
  width: 90%;
}

.ieee-tunisia-logo {
  width: 95%;
}

.ieee-insat-logo {
  width: 90%;
}

.sponsors-section {
  background-color: #f9f9f9;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.sponsor {
  display: flex;
  justify-content: center;
}

.sponsor img {
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 0.8rem;
}

.sponsors-section .title {
  margin-bottom: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  color: #263238;
  font-family: "Montserrat", sans-serif;
}

.sponsors-section .body {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  color: #546e7a;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sponsors-section .title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .sponsors-section .title {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.6rem;
  }
}
