/* Caousel Section ani jeyha baad choiya */
.item {
  height: 100vh;
}
.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel-caption {
  position: absolute;
  top: 10rem;
}

.carousel-caption h2 {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-caption h2 span {
  color: #083890;
}
.carousel-caption a {
  background: #083890;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 1.4rem;
}

/* Raka7 text el caroussel wel position mte3ou  3al mobile wel ipad */
/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    top: 8rem;
  }

  .carousel-caption h2 {
    font-size: 4.2rem;
  }
  .carousel-caption a {
    padding: 20px 35px;
  }
}

/* Mobile li akbar mel iphone 5*/
@media only screen and (max-width: 767px) {
  .carousel-caption {
    top: 4.2rem;
  }

  .carousel-caption h2 {
    font-size: 2.1rem;
  }
  .carousel-caption a {
    padding: 10px 25px;
  }
}

/* mobile iphone 5 / se */
@media only screen and (max-width: 320px) {
  .carousel-caption {
    top: 2.3rem;
  }

  .carousel-caption h2 {
    font-size: 1.6rem;
  }

  .carousel-caption h3 {
    font-size: 1.4rem;
  }

  .carousel-caption a {
    padding: 10px 25px;
  }
}

/* About section */

.about-section {
  margin-top: 5rem;
}

.about-section .title {
  display: inline-block;
  margin: auto;
  margin-bottom: 3rem;
}

.about-section .title span {
  color: rgb(6, 6, 144);
}

.about-section .text {
  font-size: 1.4rem;
}

.about-section .embs-logo {
  display: block;
  max-height: 12rem;
  max-width: 18rem;
  margin: 0 auto;
}

/* Activities-section */

.activities-section {
  margin-top: 5rem;
}

.activities-section .title {
  display: inline-block;
  margin: auto;
  margin-bottom: 3rem;
}

.activities-section .box-activities {
  background-color: #ece9e9;
  box-shadow: 0px 2px #d8d8d8;
  border-radius: 1rem;
  margin-bottom: 10rem;
  margin: 1rem;
}

.activities-section .row-activities {
  justify-content: center !important;
}

.activities-section .box-activities img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 1rem;
}
