/* Caousel Section ani jeyha baad choiya */

.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  filter: brightness(0.85);
}

.banner-carr {
  height: 95vh !important;
}

.carousel-caption {
  position: absolute;
  top: 10vh;
}

.carousel-caption h2 {
  font-size: 3.3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.carousel-caption h3 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-caption h2 span {
  color: #082f77;
}
.carousel-caption a {
  background: #083890;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 1.4rem;
  transition: background-color 0.3s ease-in-out;
}

.carousel-caption a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #0f45a8;
}
/* Raka7 text el caroussel wel position mte3ou  3al mobile wel ipad */
/* ipad */
@media only screen and (min-width: 421px) and (max-width: 991px) {
  .carousel-caption {
    top: 10vh;
  }

  .carousel-caption h2 {
    font-size: 2.5rem;
  }
  .carousel-caption a {
    padding: 20px 35px;
  }
}

/* Mobile li akbar mel iphone 5*/
@media only screen and (max-width: 420px) {
  .carousel-caption {
    top: 1.8vh;
  }

  .carousel-caption h2 {
    font-size: 1.9rem;
  }
  .carousel-caption a {
    padding: 10px 25px;
  }

  .team-section .title {
    font-size: 3rem !important;
  }
}

/* mobile iphone 5 / se */
@media only screen and (max-width: 320px) {
  .carousel-caption {
    top: 2vh;
  }

  .carousel-caption h2 {
    font-size: 1.6rem;
  }

  .carousel-caption h3 {
    font-size: 1.4rem;
  }

  .carousel-caption a {
    padding: 10px 25px;
  }
}

/* Team section */
.team-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
  position: relative;
  top: -3rem;
}
.team-section .title {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.team-section .main-row > div {
  display: inline-block;
  width: 23%;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
  top: 0;
  transition: 0.3s ease-in-out;
}

.team-section .main-row > div:hover {
  top: -8px;
}

.team-section .main-row > div > img {
  width: 100%;
  border-radius: 5px;
}

.team-section .main-row .name {
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.team-section .main-row .post {
  margin-bottom: 1.1rem;
  font-size: 1rem;
  line-height: 1.8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.team-section .main-row .social {
  text-align: center;
  margin-bottom: 1.2rem;
}

.social-icon {
  font-size: 1.7rem;
  cursor: pointer;
  /* transition: color 0.2s ease-in-out; */
  /* color: #0303b6; */
}

.team-section .main-row .social a {
  margin: 0 0.3rem;
  padding: 0.5rem 0.3rem;
  cursor: default;
}

/* FeedBack */
.Feedback {
  padding-bottom: 1rem;
  position: relative;
  background-image: url("./img/feedback/feedbackbg.jpg");
  min-height: 100%;
  opacity: 0.95;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}

.Feedback img {
  width: 9.5rem !important;
  height: 9.5rem !important;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  object-fit: cover;
}

.Feedback .carousel-caption {
  position: relative !important;
  right: 0;
  left: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  top: -3rem;
  z-index: 0;
}

.Feedback .carousel-caption .name {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.7rem;
}

.Feedback .carousel-caption .description {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: white;
  padding-left: 10rem;
  padding-right: 10rem;
}

.Feedback .carousel-indicators {
  position: absolute !important;
  bottom: 0rem;
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-section .title {
    font-size: 2rem;
  }

  .team-section .main-row > div {
    width: 46%;
  }

  .team-section .main-row .name {
    font-size: 1.2rem;
  }

  .team-section .main-row .post {
    font-size: 0.9rem;
  }

  .Feedback .carousel-caption .description {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 767px) {
  .team-section .main-row > div {
    width: 90%;
  }

  .team-section .title {
    font-size: 1.6rem !important;
  }
  .Feedback .carousel-caption .description {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
