/* Caousel Section ani jeyha baad choiya */
.item {
  height: 85vh;
}
.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel-caption {
  position: absolute;
  top: 5rem;
}

.carousel-caption h2 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-caption h2 span {
  color: #083890;
}
.carousel-caption a {
  background: #083890;
  padding: 15px 35px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 1.4rem;
}

/* Raka7 text el caroussel wel position mte3ou  3al mobile wel ipad */
/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    top: 5rem;
  }

  .carousel-caption h2 {
    font-size: 3rem;
  }
  .carousel-caption a {
    padding: 20px 35px;
  }
}

/* Mobile li akbar mel iphone 5*/
@media only screen and (max-width: 767px) {
  .carousel-caption {
    top: 4.2rem;
  }

  .carousel-caption h2 {
    font-size: 2.1rem;
  }
  .carousel-caption a {
    padding: 10px 25px;
  }
}

/* mobile iphone 5 / se */
@media only screen and (max-width: 320px) {
  .carousel-caption {
    top: 2.3rem;
  }

  .carousel-caption h2 {
    font-size: 1.6rem;
  }

  .carousel-caption h3 {
    font-size: 1.4rem;
  }

  .carousel-caption a {
    padding: 10px 25px;
  }
}

/* Team section */

.team-section {
  margin-top: 2.5rem;
}

.team-section .title {
  display: inline-block;
  margin: auto;
  margin-bottom: 3rem;
}

.team-section .title span {
  color: rgb(6, 6, 144);
}

.team-section .box {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 1rem;
  box-shadow: 4px 4px 4px 4px #e7e7e7f2;
  border-radius: 5px;
}

.team-section .box img {
  width: 100%;
  border-radius: 5px;
}

.team-section .box p {
  text-align: center;
}

.team-section .box .name {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgb(0, 0, 0);
}

.team-section .box .post {
  font-size: 0.9rem;
  color: rgb(119, 117, 117);
}

.team-section .box .social {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
}

.main-row {
  display: flex;
  justify-content: center;
}
