.contact-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact-section .title {
  margin-bottom: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.contact-section .body {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 1.8rem;
  font-size: 1rem;

  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

.input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background: #f2f2f255;
  width: 100%;
  border-radius: 0.25rem;
}
.input:focus {
  border: 1px solid rgb(57, 70, 190);
}

/* Input mail and email */
.input-name {
  width: 47.5%;
}

.input-email {
  width: 47.5%;
  margin-left: 1rem;
}

.btn {
  width: 100% !important;
}

.info {
  display: block;
  width: 100%;
  margin: 1.4rem auto;
  padding-left: 1.4rem;
}

.info .title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  text-transform: none;
  font-weight: 600;
}

.info p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.social-icon {
  font-size: 1.7rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  /* color: #0303b6; */
}

.info .social a {
  margin: 0 0.3rem;
  padding: 0.5rem 0.3rem;
  cursor: default;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .info {
    padding-top: 1rem;
  }

  .input-name {
    width: 100%;
  }

  .input-email {
    width: 100%;
    margin-left: 0%;
  }
}
