/* Taswira lekbira */
.banner {
  height: 80vh;
}

.banner-text {
  color: #fff;
  position: relative;
  text-align: center;
  top: 30vh;
  font-size: 6rem;
}

/* Meduim Screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-text {
    top: 30vh;
    font-size: 4.2rem;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .banner-text {
    top: 30vh;
    font-size: 3.5rem;
  }
}
/* Events */

.section {
  margin-top: 2.5rem;
}

.section .title {
  display: inline-block;
  margin: 1rem auto;
  margin-bottom: 3rem;
  font-weight: bold;
}

.section .title span {
  color: rgb(6, 6, 144);
}

.section .box {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 1rem;
  box-shadow: 4px 4px 4px 4px #e7e7e7f2;
  border-radius: 5px;
}

.section .box img {
  width: 100%;
  border-radius: 5px;
}

.section .box p {
  text-align: center;
}

.section .box .desc {
  font-size: 1.2rem;

  color: rgb(0, 0, 0);
}

.section .box .date {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: rgb(119, 117, 117);
}

.section .box .social {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
}

.main-row {
  display: flex;
  justify-content: center;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .section .title {
    font-size: 1.5rem;
  }
}

/* Trainings */
.training-header {
  padding-top: 1.2rem;
}
.training-icon i {
  border: 1px solid transparent;
  border-radius: 50%;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  padding: 8px;
  color: #57d283;
  transition: background-color 0.4s linear;
}

.training-icon i:hover {
  background-color: #001262;
  color: #d8e0db;
}

.training-title {
  font-size: 1.5rem;
}

.training-date {
  color: rgb(112, 111, 111);
}

.training-desc {
  margin: 1.2rem;
  color: rgb(47, 47, 47);
}

.training-img {
  border-radius: 50% !important;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
