/* Taswira lekbira */

.banner-text {
  color: #fff;
  position: relative;
  text-align: center;
  top: 30vh;
  font-size: 6rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

/* Meduim Screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-text {
    top: 30vh;
    font-size: 4.2rem;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .banner-text {
    top: 30vh;
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 400px) {
  .banner-text {
    top: 30vh;
    font-size: 2.5rem;
  }
}
/* Events */
.event-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.event-section .title {
  margin-bottom: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.event-section .body {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;

  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

.event-section .main-row > div {
  display: inline-block;
  width: 23%;
  margin: 2rem auto;
  border-radius: 4px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: relative;
  top: 0px;
  transition: 0.2s linear;
}

.event-section .main-row > div:hover {
  top: -7px;
}

.event-section .main-row > div img {
  width: 100%;
  border-radius: 4px;
}

.event-section .main-row .main-row-text {
  padding: 20px 30px;
}

.event-section .main-row .date {
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.event-section .main-row .desc {
  line-height: 26px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.event-section .main-row .views {
  color: #999;
  font-size: 0.9rem;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .event-section .main-row > div {
    width: 47%;
  }
  .event-section .title {
    font-size: 2rem;
  }
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .event-section .main-row > div {
    width: 85%;
  }
  .event-section .title {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.6rem;
  }

  .event-section .body {
    text-align: center;
    padding: 0rem 1rem;
  }
}

/* Trainings */
.training-section {
  padding-top: 3.4rem;
  padding-bottom: 3rem;
}

.training-section .title {
  margin-bottom: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.training-section .body {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;

  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

.training-section .main-row > div {
  display: inline-block;
  width: 47%;
  margin: 2rem auto;
  border-radius: 4px;
  /* border: 1px solid #ececec; */
  position: relative;
  top: 0px;
  transition: 0.2s linear;
  padding: 30px 15px;
  text-align: center;
  margin-bottom: 2rem;
}

.training-section .main-row > div img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.training-section .main-row .training-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.training-section .main-row .training-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}

.training-section .main-row .training-date {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}
.training-section .main-row .training-desc {
  padding: 5px 5px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1199px) {
  .training-section .main-row > div img {
    width: 18rem;
    height: 18rem;
  }
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .training-section .title {
    font-size: 2rem;
  }
  .training-section .main-row > div img {
    width: 14rem;
    height: 14rem;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .training-section .main-row > div {
    width: 90%;
  }

  .training-section .main-row > div img {
    width: 15rem;
    height: 15rem;
  }

  .training-section .title {
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 1.6rem;
  }

  .training-section .body {
    text-align: center;
    padding: 0rem 1rem;
  }
}

/* Visits */
.visits-section {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

.visits-section .title {
  margin-bottom: 0.6rem;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.visits-section .body {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 1.2rem;
  font-size: 0.9rem;

  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}

.visits-section .visit-date {
  margin: 0.2rem auto;
  text-align: center;
  padding: 0rem 2rem;
  margin-bottom: 0.8rem;
  font-size: 1.35rem;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}

.visits-section .main-row {
  margin: 0 auto;
  width: 80%;
}

/* ipad */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .visits-section .title {
    font-size: 2rem;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .visits-section .title {
    font-size: 1.6rem;
  }

  .visits-section .visit-date {
    font-size: 1.2rem;
  }
}
