/* Taswira lekbira */
.banner {
  height: 80vh;
}

.banner-text {
  color: #fff;
  position: relative;
  text-align: center;
  top: 30vh;
  font-size: 6rem;
}

/* Meduim Screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-text {
    top: 30vh;
    font-size: 4.2rem;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .banner-text {
    top: 30vh;
    font-size: 3.5rem;
  }
}
/* Events */
/* Team section */

.event-section {
  margin-top: 2.5rem;
}

.event-section .title {
  display: inline-block;
  margin: auto;
  margin-bottom: 3rem;
}

.event-section .title span {
  color: rgb(6, 6, 144);
}

.event-section .box {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 1rem;
  box-shadow: 4px 4px 4px 4px #e7e7e7f2;
  border-radius: 5px;
}

.event-section .box img {
  width: 100%;
  border-radius: 5px;
}

.event-section .box p {
  text-align: center;
}

.event-section .box .desc {
  font-size: 1.2rem;

  color: rgb(0, 0, 0);
}

.event-section .box .date {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: rgb(119, 117, 117);
}

.event-section .box .social {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
}

.main-row {
  display: flex;
  justify-content: center;
}
/* Boxes */
